* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: hsl(300, 43%, 22%);
	--secundary: hsl(333, 80%, 67%);
	--dark-grayish-Magenta: hsl(303, 10%, 53%);
	--light-grayish-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
} 
body {
	font-family: 'Spartan', sans-serif;
	font-size: 15px;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	width: 78%;
	height: 88%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.header, .ratings {
	margin-top: 4em;
}
.header {
	width: 80%;	
}
.ratings {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em 0.4em;
}
.rating-card {
	background-color: var(--light-grayish-magenta);
	width: 80%;
	height: 4em;
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0 2em;
	border-radius: 10px;
}
.rating-card-center {
	margin-left: 4em;
}
.rating-card-right {
	margin-left: 8em;
}
.rating-card__tittle {
	color: var(--primary);
}
.testimonials {
	grid-column-start: 1;
	grid-column-end: 3;
}
.card {
	border-radius: 10px;
}
.header__tittle {
	color: var(--primary);
	font-size: 3.5em;
	margin-bottom: 0.2em;
}
.header__paragraph {
	font-size: 1em;
	font-weight: 700;
	color: var(--dark-grayish-Magenta);
}
.testimonials {
	display: flex;
	gap: 1.5em;
}
.card {
	background-color: var(--primary);
	height: 70%;
	padding: 3em 2em;
}
.card__header {
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	gap: 1em;
}
.card__tittle, .card__paragraph {
	color: var(--light-grayish-magenta);
}
.card__img {
	border-radius: 40px;
	height: 3.5em;
}
.card-top {
	margin-top: 2.4em;
}
.card-center {
	margin-top: 3.4em;
}.card-bottom {
	margin-top: 4.4em;
}
@media only screen and (max-width: 1024px) {
	main {
		padding: 4em 0;
		margin: 0 auto;
		text-align: center;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.header, .ratings {
		margin: 0 auto;
		text-align: center;
	}
	.rating-card {
		margin: 0 auto;
		width: 80%;
		flex-direction: column;
		justify-content: center;
		gap: 0;
	}
	.testimonials {
		margin: 0 auto;
		grid-column-end: 1;
		flex-direction: column;
		gap: 1;
		padding-bottom: 4em; 
	}
	.card-top, .card-center, .card-bottom {
		margin: 0 0;
	}
}